*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#car1{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    /* border-radius: 20px; */
    /* margin: 10px; */
}
#car2{
    height: 140px;
    width: 170px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* border-radius: 20px; */
    /* margin: 10px; */
}
#car3{
    height: 180px;
    width: 240px;  
    background-color: green;
    border: 2px solid black;
    position:absolute;
    left: 20%;

    /* border-radius: 20px; */
    /* margin: 10px; */
}


#box{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: orange;
    margin:20px;
}

#small{
    height: 200px;
    width: 200px;
    background:linear-gradient(to right bottom, red, yellow, green, blue);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#innerbox{
    height: 300px;
    width: 300px;
    background-color: yellow;
}

#microinnerbox{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: blue;
}

#actualbox{
    position: absolute;
    /* left: 50%; */
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 242);
}
#mainbox{
    height: 400px;
    width: 100%;
    background-color: purple;
}
#fixedbox img{
    position: fixed;
    top: 50%;
    right: 0;
    height: 80px;
    width: 80px;
    background-color: pink;
    /* background: transparent; */
}

#parent{
    /* height: 1200px; */
    width: 100%;
    background-color: #222;
    /* padding: 10px; */
}

#child{
    width: 100%;
    height: 2000px;
    background-color:#333;
}

#child2{
    width: 100%;
    height: 2000px;
    background-color: #555;
}

#sticky{
    position: sticky;
    top: 0;
    width: 300px;
    height: 200px;
    background-color: red;
}