/* boilerplate of css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(142, 119, 119);
}

/* ---------------------------------------------------------------------------- */
h1{
    color:yellow;
    background-color: #000704;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
}
h2{
    color: rgb(255, 0, 255);
    background-color: rgb(0, 255, 255);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    /* text-transform: capitalize; */
    text-transform: uppercase;

}
#about{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    text-transform: lowercase;
}

p{
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 0);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    text-transform: capitalize;
}

#skills{
    color: rgb(255, 165, 0);
    background-color: rgb(2, 69, 119);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
}
ul{
    color: rgb(19, 19, 175);
    background-color: rgb(158, 123, 48);
    font-size: 25px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: lowercase;
}
.menu{
    color: rgb(255, 20, 147);
    background-color: rgb(0, 255, 127);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: right;
    text-transform: capitalize;
}

