*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 200px ;
    width: 200px;
    background-color: crimson;
    border: 2px solid white;
    border-radius: 5px;
}

button{
    margin: 20px 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(230, 147, 147);
    border: 2px solid;
    border-radius: 5px;
    font-weight: 700;
}

button:active{
    background: linear-gradient(rgb(231, 5, 5),rgb(87, 237, 87),rgb(74, 74, 171));

    font-weight: 700;

    scale: 0.95;
}