*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(201, 28, 158),orange,rgb(223, 168, 64));
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.card{
    height: 300px;
    width: 240px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow:10px 10px 20px rgb(137, 137, 137) ;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20PX;



}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-weight: 500;
    font-size: 26px;
}

.card button{
border-radius:50px;
padding: 10px 30px;
background:  rgb(36, 182, 255);
border: none;
border: 2px solid rgb(36, 182, 255);
font-weight: 600;
font-size: 18px;
cursor: pointer;
color: white;


}
.card p{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
    padding: 5px;
}

.card button:hover{
    background-color:transparent;
    border-radius: 5px;
    color:  rgb(36, 182, 255);;
}