*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%; 
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 0.5fr 1fr;
    grid-template-areas:
    "header header"
    "aside section"
    "figure figure"
    ;

    grid-gap: 15px;
    padding: 15px;

}

header{
    grid-area: header;
    background-color:aquamarine;

}

aside{
    grid-area: aside;
    background-color:bisque;

}

section{
    grid-area: section;
    background-color: blueviolet;
}

figure{

    grid-area:figure;
    background-color:brown;
}