*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
background-color:black;
 display: flex;
 justify-content: center;
 align-items: center;   
}
@property --rotate{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits:false;
}

@keyframes borderAnimate{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}

.box{
    max-width: 200px;
    padding-inline:10px;
    padding-bottom:10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgb(237, 4, 128);
    background:linear-gradient(black) padding-box
    ,conic-gradient(from var(--rotate),black,rgb(237,4,128),black) border-box;

    border: 0px solid rgba(255, 255, 255, 0);
    margin: 10px;
    animation:borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-play-state: paused;
    transition: all 0.4s ease;
    color: white;
    text-shadow:0px 0px 0px rgb(237, 4, 128) ;
    

}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px rgb(237, 4, 128);
    color: rgb(237, 4, 128);
    text-shadow:0px 0px 10px rgb(237, 4, 128) ;
}

.box img{
    width: 100%;
}