*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(216, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.1s ease, background-color 0.1s ease;
}


button:active{
    transform: scale(0.95);
    background-color: red;
    color: white;
}
