*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
/* body {
    display: flex;
    align-items: center;
    justify-content: center;

} */

.main{
    height: 300px;
    width: 100%;
    background-color: #fff;
    /* background-color: red; */

}
.main .child{
    /* height: 100%; */
    /* width: 1000%; */
    height: 100%;
    width: 10px;
    display: flex;
    gap: 20px;
    background-color: red;

   
}

.child child{
    height: 100%;



}

h2{
    height: 130px;
    color: white;

}

h1{
    font-size: 100px;
    line-height: 100px;     
    background-color:#333;
    padding: 20px 40px;
    border-radius: 15px;
    font-family: monospace;
    color: white;
}

/* h1 { outline: 2px solid red; } */

