* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(31, 31, 31),
    black
  );
  padding: 10px;
  color: white;
  overflow: hidden;
}

section {
  height: 100%;
  width: 350px;
  background-color: black;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.all-reels {
  height: 100%;
  width: 100%;
  overflow-y: scroll;              
  scroll-snap-type: y mandatory;
  /* scroll-behavior: smooth; */
  user-select: none;
}

.all-reels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;                   
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


.reel video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.bottom .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  margin-right: 10px;
  border: 2px solid none;
}

.bottom .user h4 {
  font-size: 16px;
  font-weight: 900;
}

.title > h3 {
  font-weight:300;
  font-size: 15px;
}

.user > button {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff005100;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  margin-left: 4px;
}

.right {
  position: absolute;
  right: 12px;
  bottom: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;  
  font-size: 20px;
}

.right>div h4{
  pointer-events: none;
}

.right>div h6{
  pointer-events: none;
}

.right i {
  font-size: 25px;
  font-weight: 100;
}

.right h6 {
  font-size: 14px;
  font-weight: 500;
  pointer-events: none;  
}

.love {
  color: red;
}

.mute{
  backdrop-filter: blur(2rem);
        background-color: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, 0.299);

  height: 50px;
  width: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.mute i {
  font-size: 24px;
  color: white;
  pointer-events: none;
}

.mute:active {
  scale: 0.95;
  background-color: rgba(85, 85, 85, 0.6);
}
