* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  height: 100vh;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.box {
  width: 80%;
  max-width: 700px;
  padding: 30px;
  border: 1px solid rgba(0, 255, 0, 0.4);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.4);
  z-index: 1;      
  overflow: hidden;          
  text-align: center;
}


.box p {
  font-size: 1.5rem;
  line-height: 1.6;
  background: linear-gradient(90deg, #00ff00, #00ffaa, #00ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.4),
    0 0 30px rgba(0, 255, 0, 0.3);
}
