@font-face {
    font-family:first;

    src: url(../6758398005ce2b252bcb9d13_T012Regular.woff2);
}
@font-face {
    font-family: second;
    src: url(../67583943b054e07357703e05_NBArchitektStd-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100vh;
    width: 100vw;
    background-image: url(../Screenshot\ 2025-09-30\ 180541.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
/* 
 #firsttext{
    height: 5%;
    width: 50%;   
    padding-left: 50px;
    padding-top: 90px;
    font-family: first;
    font-weight: 900;
    font-size: 70px;
    color: white;
}

#firsttext h2{
    border: 1px solid red;
    width: fit-content;
    padding: 2px;
    text-shadow: 2px 0px 2px red; 
}
#box{
    height: 200px;
    width: 200px;
    border:2px solid red;
} */

#box1 {
    position: relative;
    /* height: 200px;
    width: 200px;
    border:2px solid red; */
    height:200px;
    /* width:100%;    */
    padding-left: 50px;
    padding-top: 90px;
    font-family: first;
    font-weight: 900;
    font-size: 80px;
    color: white;
    /* background-color: #fff; */
    /* padding: 20px; */

}
#box1 h2{
    position: absolute;
    top: 50%;
    left: 2%;
    /* border: 1px solid red; */
    width: fit-content;
    padding: 2px;
    text-shadow: 2px 0px 2px rgb(60, 61, 131); 
}


#box2 {
    display: flex;
    gap: 60px;
    font-family: second;
    height: 480px;
    width: 50%;
    border:1px dashed rgb(206, 202, 202);
    margin-left:50px;
    color: rgb(232, 231, 231);
    font-size: 30PX;
    padding: 20px;
    margin-top: 100px;
    /* background-color: rgb(156, 131, 131); */
    /* opacity: ; */

    /* background-color:transparent; */
}

#box2 #child1{
    height: 200px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
    text-align:left;
    font-size: px;
    margin-right: 50px;
}

#child1 img{
    height: 150px;
    width: 150px;
    
    border-radius:50%;
    border: 2px dashed rgb(236, 225, 225);

}

#child2{

    margin-top: 60px;
    display: flex;
    gap: 30px;
    /* margin-top: 20px; */
    flex-direction: column;
}

#child3{
position: relative;
    margin-top: 60px;
    display: flex;
    gap:20px;
    height: 100%;
    width: 100%;
    /* margin-top: 20px; */
    flex-direction: column;

}
#child3 #bchild10 video{
    position:absolute;
    height:80%;
    width: 50%;  
    opacity: 0.54; 
    top: 20%;
    
}

button{
    height: auto;
    width: 40%;
    font-size: 55px;
    font-family: second;
    background: transparent;
    border:2px  rgba(232, 228, 228, 0.496);
    border-style: dashed;
    color: rgb(222, 220, 220);
    margin-right: 50px;
    cursor:pointer;
}


:root{
     --x:50%;
     --y:0px;
}

.box{
    height: 100vh;
    width: 100vw;
    border: 1px solid white;
    background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.822));
}
