*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-image: url(./image.png);
    background-size: cover;
}
.radius{
    height: 200px;
    width: 200px;
    border: 2ps solid ;
}