*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #000000;
}

h1{
    color: rgb(2, 44, 254);

}

button{
    padding: 10px 20px ;
    font-size: 16px;
    background-color: rgb(211, 106, 1);
    color: rgb(1, 1, 1);
    border-radius: 200px;
    border-style: none;
    transition: background-color 0.3s ease-in;
 
}