* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
h1 {
  color: red;
}

// nesting

// main{
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     background-color: black;

//     section{
//         height: 50%;
//         width: 50%;
//         background-color: white;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         h1{
//             font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//         }

//     }

// }

// Mixing

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  @include flexCenter();

  background-color: black;

  section {
    height: 50%;
    width: 50%;
    background-color: white;
    @include flexCenter();

    h1 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    .submit {
      @include button(
        linear-gradient(to right, rgb(21, 255, 0), rgb(255, 255, 255) 70px), 0 0 20px green);
    }

    .reset {
      @include button(
        linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 255) 70px),0 0 20px red);
    }
    .ram{
      
        height: 100px;
      
    }
  }
}
