*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.green{
    background-color:green;

}

body:has(.box:hover) .box {
    transform: scale(0.80);
    opacity: 0.8;
}

body .box:hover {
    transform: scale(1.2) !important;
    opacity: 1 !important;
}

