*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    
}

button{
    height:fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: lightseagreen;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

button:active{
    scale: 0.95;
}


.container {
  margin-top: 10px;
  font-size: 50px;
  background-color: black;
}

.gender-box {
height: fit-content;
width: fit-content;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.gender-box:hover {
  border-color: #4CAF50;
  background-color: #f5fff5;
}

.gender-box input {
  margin-right: 15px;
  cursor: pointer;
  transform: scale(2);   /* increases radio button size */
}

.gender-box label {
  font-size: 20px;
  cursor: pointer;
}

.wash{
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
    /* background: conic-gradient(red,orange,green,red); */
    padding: 20px 40px;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
